.title{
    text-align: center;
    background-color: black;
    color: white;
}

.cardT{
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-style{
    text-align: center;
    background-color: black;
    color: white;
}